SUPABASE_URL=https://ewhdbsqletuqgrrfyoyg.supabase.co
SUPABASE_ANON_KEY=sb_publishable__AZk34LfnmiNXbW2Z0rvjA_sqZ_L3-O
ADMIN_EMAIL=
ADMIN_PASSWORD=
PASTA_REQUISICOES=P:\Almoxarifado\Solicitações de Requisições
INTERVALO_MINUTOS=5
